{{define "home"}}
<!DOCTYPE html>
<html lang='en'>
  <head>
     <meta charset='utf-8'>
     <title>Home-Page</title>
     <link rel='stylesheet' href='https://fonts.google.apis.com/css?family=Ubuntu+Mono:400,700'>
  </head>
  <body>
    <header>
        <h1>WELCOME</h1>
    </header>

      Hello, {{.}}!<br>
      <a href="/signup"> Create an Account</a>
      
    </body>
</html>

{{end}}