{{define "post"}}
  <div class="posts">

    <div class="posts-row">
      <div class="posts-item">
        <p><strong>{{.Username}}</strong></p>
      </div>

        <div class="posts-item">
          <p><strong>{{.Date}}</strong></p>
        </div>
     </div>

      <div class="posts-body">
        <p>{{.Content}}</p>
      </div>

      <div class="meta-item">
        <form action="/posts/{{.ID}}" method="post" style="display:inline;">
         <input type="hidden" name="_method" value="DELETE">
          <button type="submit" class="delete-bttn">delete</button>
        </form>
        <a href="/posts/{{.ID}}/reply"><button type="button">Reply</button></a>
      </div>

   {{if .Replies}}
   <div class="replies">
      <hr>
      {{range .Replies}}
        {{template "post" .}}
      {{end}} 
   </div>
   {{end}}
   </div>
   {{end}}
