{{define "posts"}}
<!DOCTYPE html>
<html lang='en'>
  <head>
     <meta charset='utf-8'>
     <title>Posts</title>
     <link rel='stylesheet' href='https://fonts.google.apis.com/css?family=Ubuntu+Mono:400,700'>
  </head>
  <body>
    <header>
        <h1>View Posts</h1>
    </header>

      <p> This is the User's Posts page</p><br>
       <p>{{.}}</p>


      
    </body>
</html>

{{end}}
