{{define "post"}}
  <div class="posts">
  {{$top := .TopData }}
    <div class="posts-row">
      <div class="posts-item">
        <p><strong>{{.Post.Username}}</strong></p>
      </div>

        <div class="posts-item">
          <p><strong>{{.Post.Date}}</strong></p>
        </div>
     </div>

      <div class="posts-body">
        <p>{{.Post.Content}}</p>
      </div>

      <div class="meta-item">
      {{if eq .Post.UserID $top.CurrUserID}}
        <form action="/posts/{{.Post.ID}}" method="post" style="display:inline;">
         <input type="hidden" name="_method" value="DELETE">
          <button type="submit" class="delete-bttn">delete</button>
        </form>
        {{end}}
        <a href="/posts/{{.Post.ID}}/reply"><button type="button">Reply</button></a>
      </div>

   {{if .Post.Replies}}
   <div class="replies">
      <hr>
      {{range .Post.Replies}}
        {{template "post" dict "Post" . "TopData" $top}}
      {{end}} 
   </div>
   {{end}}
   </div>
   {{end}}
